
 /* Note to students:

Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!
*/html {
    height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: helvetica;
}

a {
  color: ;
}

header {
  padding: 30px;
  border: 10px solid grey;
  margin: 100px;
  background-color:rgb(107, 107, 107);
  color: ;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

p {
  background-color: rgb(30, 97, 33);
}

img {
  max-width: 50%;
}

nav {
  background-color: black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  color: white;
  display: inline-block;
  margin: 20px;
  font-size: 24px;
}

section {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  min-height: 800px;
}

section img {
  margin-top: 20px;
}

footer {
  clear: left;
  padding: 10px;
  background: ;
  text-align: ;
}

